<template>
  <div class="page">
    <div class="header">
      <h1>jwt-token-generator</h1>
    </div>

    <transition name="fade">
      <div id="error" v-if="errors.length">
        <ul>
          <li v-for="error in errors" :key="error.id">{{error}}</li>
        </ul>
      </div>
    </transition>

    <transition name="fade">
      <div class="response" v-if="token">
        <p>{{token}}</p>
      </div>
    </transition>

    <transition name="fade">
      <div class="response" v-if="secret">
        <p>{{secret}}</p>
      </div>
    </transition>

    <div id="token">
      <h2>Create token</h2>

      <div class="content">
        <form action="#">
          <p><label >Subject:</label><input v-model="subject" placeholder="<laura_andersson>" required autofocus /> (required)</p>
          <p><label>Ctx:</label><input v-model="ctx" placeholder="<sweden.stockholm>" /></p>
          <p><label>TimeToLiveInSeconds:</label><input type="number" v-model="timeToLiveInSeconds" placeholder="<3600>" required /> (required)</p>
          <p><label>Roles:</label><input v-model="roles" placeholder="<ADMIN,USER>" required /> (required)</p>
          <p><button v-on:click="createToken">CREATE TOKEN</button></p>
        </form>
      </div>
    </div>

    <div id="secret">
      <h2>Create secret</h2>
      <div class="content">
        <button v-on:click="createSecret">CREATE SECRET</button>
      </div>
    </div>

  </div>
</template>

<script>
import axios from 'axios'

var host = ''

if (process.env.NODE_ENV === 'development') {
  host = 'http://localhost:8080'
}

export default {
  name: 'Main',
  data () {
    return {
      errors: [],
      secret: '',
      token: '',
      subject: '',
      ctx: '',
      timeToLiveInSeconds: '',
      roles: ''
    }
  },
  methods: {
    createSecret: function () {
      this.errors = []
      this.sentMessage = ''

      axios.post(host + '/v1/jwt-token-generator/secret', '{}', {
        headers: {
          'Content-Type': 'application/json'
        }
      }).then(response => {
        this.secret = response.data
      }).catch(error => {
        console.log(error)
        this.errors.push(error.message)

        if (error.response.status === 400) {
          this.errors.push(error.request.response)
        }
      })
    },
    createToken: function () {
      this.errors = []
      this.sentMessage = ''

      if (!this.validateInput()) {
        return
      }

      if (this.ctx === '') {
        this.ctx = null
      }

      var rolesArray = this.roles.split(',')
      var otherArray = []

      for (var i = rolesArray.length - 1; i >= 0; i--) {
        otherArray.push({id: rolesArray[i]})
      }

      axios.post(host + '/v1/jwt-token-generator/token', {
        subject: this.subject,
        ctx: this.ctx,
        timeToLiveInSeconds: this.timeToLiveInSeconds,
        roles: otherArray
      }, {
        headers: {
          'Content-Type': 'application/json'
        }
      }).then(response => {
        this.token = response.data
      }).catch(error => {
        console.log(error)
        this.errors.push(error.message)

        if (error.response.status === 400) {
          this.errors.push(error.request.response)
        }
      })
    },
    validateInput: function () {
      if (this.subject !== '' && this.timeToLiveInSeconds !== '' && this.roles !== '') {
        return true
      }

      if (this.subject === '') {
        this.errors.push('Subject can not be empty')
      }
      if (this.timeToLiveInSeconds === '') {
        this.errors.push('TimeToLiveInSeconds can not be empty')
      }
      if (this.roles === '') {
        this.errors.push('Roles can not be empty')
      }

      return false
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700');

.page {
  font-family: 'Open Sans Condensed', sans-serif;
}
h1 {
  color: #fff;
  font-size: 1em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 1em;
  font-weight: 700;
}
h2 {
  font-size: 1.0em;
  font-weight: 700;
  margin-left: 1em;
}
.header {
  margin-top: 0px;
  background-image: linear-gradient(#249cdc, #003292);
  width: 100%;
  left: 0;
  top: 0;
  overflow: auto;
}
#error {
  margin: auto;
  margin-top: 0.25em;
  width: 65%;
  background-image: linear-gradient(#ea8484, #ea8484);
  border-radius: 0.4em 0.4em;
  //border: 1px solid red;
  padding: 0.5em;
  overflow: auto;
}
#error ul {
  margin: 0;
  text-align: left;
}
#error li {
  list-style-type: number;
  color: #fff;
  font-size: 1.2em;
}
.response {
  margin: auto;
  margin-top: 0.25em;
  width: 65%;
  background-image: linear-gradient(#d5f2d8, #d5f2d8);
  border-radius: 0.4em 0.4em;
  //border: 1px solid green;
  padding: 0.5em;
  overflow: auto;
}
#token {
  margin-top: 5em;
  margin-left: 5em;
  width: 70em;
  float: left;
  background-color: white;
  border-radius: 0.4em 0.4em;
  border: 1px solid #eee;
  padding: 0.5em;
  color: #545c53;
}
#token form {
  margin: 2em;
}
#token label {
  display: inline-block;
  width: 10em;
  margin-left: 2em;
  text-align: left;
}
#token input {
  width: 30em;
  margin-left:2em;
  text-align: left;
}
#token button {
  margin-top: 2em;
  margin-left: 32.5em;
}
#secret {
  margin-top: 5em;
  margin-left: 1.5em;
  width: 15em;
  display: inline-block;
  background-color: white;
  border-radius: 0.4em 0.4em;
  border: 1px solid #eee;
  padding: 0.5em;
  color: #545c53;
}
#secret button {
  margin-top: 2em;
  margin-left: 1em;
  margin-bottom: 1em;
}
button {
  background-image: linear-gradient(#84c1f2, #4dabf7);
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1em;
  padding: 0.75em;
  color: #ffffff;
  border-radius: 0.3em;
  border: none;
}
button:hover {
  background-image: linear-gradient(#84c1f2, #84c1f2);
  cursor: pointer;
}
button:active {
  background-image: linear-gradient(#84c1f2, #4dabf7);
}
.fade-enter-active, .fade-leave-active {
  transition: opacity 1s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}
</style>
